<div class="form-container container">
  <!-- Name input -->
  <div class="form-outline mb-4">
    <input type="text" id="form4Example1" class="form-control" placeholder="Course name" [(ngModel)]="course.name">

  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="text" id="form4Example2" class="form-control" placeholder="Course Category"
      [(ngModel)]="course.category">

  </div>

  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" id="form4Example3" rows="4" placeholder="Course Desription"
      [(ngModel)]="course.description"></textarea>

  </div>



  <!-- Submit button -->
  <button type="submit" class="btn btn-block mb-4" (click)="addCourse()">Add Course</button>
</div>