body {
    margin-top: auto;
    display: flex;
    position: relative;
    background-color: #dad7cd;
}

.form-container {
    width: 60%;
    margin-left: 25%;
    margin-top: 5%;
    position: relative;
}
.btn{
    background-color: #a3b18a;
    color: aliceblue;
}
.btn:hover{
    background-color: #3a5a40;
}