.sidenav-container {
  height: auto;
}

.sidenav {
  width: 200px;
  background-color: #a3b18a;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-toolbar{
  background-color: #3a5a40;
}
.mat-toolbar span{
  text-align: center;
 

}

